cleaning data + exploring

In [10]:
import pandas as pd
import numpy as np
from src.data_prep import load_data

import matplotlib.pyplot as plt

In [3]:
path = "Data/Raw/mental_health_data.csv"
data  = load_data(path)

Checking data info

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User_ID                  50000 non-null  int64
 1   Age                      50000 non-null  int64
 2   Gender                   50000 non-null  object
 3   Occupation               50000 non-null  object
 4   Country                  50000 non-null  object
 5   Mental_Health_Condition  50000 non-null  object
 6   Severity                 24998 non-null  object
 7   Consultation_History     50000 non-null  object
 8   Stress_Level             50000 non-null  object
 9   Sleep_Hours              50000 non-null  float64
 10  Work_Hours               50000 non-null  int64
 11  Physical_Activity_Hours  50000 non-null  int64
 12  Social_Media_Usage       50000 non-null  float64
 13  Diet_Quality             50000 non-null  object
 14  Smoking_Habit            50000 non-null  object
 15  Alcohol_Consumption      50000 non-null  object
 16  Medication_Usage         50000 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 6.5+ MB

In [7]:
data.shape

(50000, 17)

In [8]:
print(data.isnull().sum())

User_ID                        0
Age                            0
Gender                         0
Occupation                     0
Country                        0
Mental_Health_Condition        0
Severity                   25002
Consultation_History           0
Stress_Level                   0
Sleep_Hours                    0
Work_Hours                     0
Physical_Activity_Hours        0
Social_Media_Usage             0
Diet_Quality                   0
Smoking_Habit                  0
Alcohol_Consumption            0
Medication_Usage               0
dtype: int64

In [13]:

data.describe()

,User_ID,Age,Sleep_Hours,Work_Hours,Physical_Activity_Hours,Social_Media_Usage
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,25000.500000,41.473080,7.009934,55.062860,4.982040,3.243160
std,14433.901067,13.844185,1.732674,14.691575,3.161759,1.585235
min,1.000000,18.000000,4.000000,30.000000,0.000000,0.500000
25%,12500.750000,29.000000,5.500000,42.000000,2.000000,1.900000
50%,25000.500000,41.000000,7.000000,55.000000,5.000000,3.200000
75%,37500.250000,53.000000,8.500000,68.000000,8.000000,4.600000
max,50000.000000,65.000000,10.000000,80.000000,10.000000,6.000000