We will be using the functions from src/preprocess.py

In [2]:
import pandas as pd
from src.Preprocess import load_data,custom_cleaning,get_preprocessor,create_stage_datasets,save_datasets

In [11]:
data = load_data("Data/Intrim/Post_eda_data.csv")
print("Initial shape ",data.shape)
data

Initial shape  (50000, 18)

,Unnamed: 0,User_ID,Age,Gender,Occupation,Country,Mental_Health_Condition,Severity,Consultation_History,Stress_Level,Sleep_Hours,Work_Hours,Physical_Activity_Hours,Social_Media_Usage,Diet_Quality,Smoking_Habit,Alcohol_Consumption,Medication_Usage
0,0,1,36,Male,Education,Australia,Yes,NaN,Yes,Low,7.6,46,8,2.2,Healthy,Regular Smoker,Regular Drinker,Yes
1,1,2,48,Male,Engineering,Other,No,Low,No,Low,6.8,74,2,3.4,Unhealthy,Heavy Smoker,Social Drinker,No
2,2,3,18,Prefer not to say,Sales,India,No,NaN,Yes,Medium,7.1,77,9,5.9,Healthy,Heavy Smoker,Social Drinker,No
3,3,4,30,Non-binary,Engineering,Australia,No,Medium,No,Low,6.9,57,4,5.4,Average,Regular Smoker,Regular Drinker,No
4,4,5,58,Male,IT,USA,Yes,NaN,Yes,High,4.7,45,10,3.3,Unhealthy,Regular Smoker,Non-Drinker,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,49996,44,Prefer not to say,Education,Australia,No,Medium,Yes,High,8.4,45,4,1.3,Unhealthy,Regular Smoker,Regular Drinker,Yes
49996,49996,49997,19,Female,Other,Germany,No,NaN,Yes,High,9.9,68,6,5.1,Healthy,Occasional Smoker,Social Drinker,Yes
49997,49997,49998,31,Prefer not to say,Education,India,Yes,Low,No,Medium,5.2,61,6,2.1,Average,Non-Smoker,Heavy Drinker,No
49998,49998,49999,26,Prefer not to say,Other,UK,Yes,Low,No,High,8.2,59,0,1.9,Healthy,Occasional Smoker,Regular Drinker,Yes
49999,49999,50000,36,Male,Engineering,Other,Yes,Low,No,High,7.8,36,9,2.8,Unhealthy,Non-Smoker,Social Drinker,Yes

In [8]:
a=data['Smoking_Habit'].unique()
b=data['Alcohol_Consumption'].unique()
print(a,b)

['Regular Smoker' 'Heavy Smoker' 'Non-Smoker' 'Occasional Smoker'] ['Regular Drinker' 'Social Drinker' 'Non-Drinker' 'Heavy Drinker']

In [12]:
data = custom_cleaning(data)
data.head()

,Unnamed: 0,User_ID,Age,Gender,Occupation,Mental_Health_Condition,Severity,Consultation_History,Stress_Level,Sleep_Hours,Work_Hours,Physical_Activity_Hours,Social_Media_Usage,Diet_Quality,Smoking_Habit,Alcohol_Consumption,Medication_Usage
0,0,1,36,Male,Education,Yes,NaN,1,Low,7.6,46,8,2.2,2,2,2,1
1,1,2,48,Male,Engineering,No,Low,0,Low,6.8,74,2,3.4,0,3,1,0
2,2,3,18,Prefer not to say,Sales,No,NaN,1,Medium,7.1,77,9,5.9,2,3,1,0
3,3,4,30,Non-binary,Engineering,No,Medium,0,Low,6.9,57,4,5.4,1,2,2,0
4,4,5,58,Male,IT,Yes,NaN,1,High,4.7,45,10,3.3,0,2,0,1